<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='./css/style.css'>
</head>
<body>
    <div id="videoInput">
        <input type="text" id='youtubeURL' class="form-control" placeholder="Paste your YouTube URL">
        <input class="btn btn-primary" id='start-btn' type="submit" value="Submit">
    </div>

    <div id='player-group'></div>
        <div id='player-controller'>
            <button id='play-btn' type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>

            <button id='pause-btn' type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>

            <input type="range" id="progress-bar" value='0'>

            <span class="time-display" id="current-time-minute">0</span>:<span class="time-display" id="current-time-seconds">00</span> / <span class="time-display" id="duration-minute">0</span>:<span class="time-display" id="duration-seconds">00</span>
        </div>
    </div>
    <footer>
        <p>© Hung Q Bui<br>
        <span>Email: <a href="mailto:quanghungbui8104@gmail.com">quanghungbui8104@gmail.com</a></span></p>
    </footer>
    <script src='/socket.io/socket.io.js'></script>
    <script>

        const socket = io()

        let startBtn = document.getElementById('start-btn')


        var tag = document.createElement('script');
        
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        


        var player;
        const playerGroup = document.getElementById('player-group')
        const playerController = document.getElementById('player-controller')

        startBtn.addEventListener('click',() => {

            let requestedVideo
            const userInput = document.getElementById('youtubeURL')
            
            if (userInput.value !== undefined) {
                if (userInput.value.includes('https://www.youtube.com/watch?v=')) {
                    requestedVideo = userInput.value.replace('https://www.youtube.com/watch?v=','')
                } else return
            } else {
                return
            }
            

            socket.emit('submit-link', {
                message: requestedVideo
            })

        })
        var player;
        
        socket.on('broadcasted-link', (vidID) =>{
            const existingPlayer = document.getElementById('player')

            playerController.style.opacity = 1

            if (existingPlayer !== null) {
                existingPlayer.remove()
            }

            let embededVid = document.createElement('div')
            embededVid.id = 'player'
            playerGroup.append(embededVid)
            
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: vidID,
                playerVars: {
                    'playsinline': 1,
                    'controls': 0,
                    'autoplay': 0,
                    'disablekb':0,
                    'modestbranding':0
                },
                events: {
                    'onReady': onPlayerReady,
                }
            });
        })

        const progressBar = document.getElementById('progress-bar')
        
        function onPlayerReady(event) {
            setInterval(()=> {
                let currentTime = player.getCurrentTime()
                let videoLength = player.getDuration()
                let barValue = currentTime / videoLength * 100
                progressBar.value = barValue
                socket.emit('update')
            },200) 
        }
        function updateTimerDisplay() {         
            let currentTimeMinute = Math.floor(player.getCurrentTime() / 60)
            let currentTimeSeconds = Math.floor(player.getCurrentTime() % 60)

            if (currentTimeSeconds < 10) {currentTimeSeconds = '0' + currentTimeSeconds}

            $('#current-time-minute').text(currentTimeMinute)
            $('#current-time-seconds').text(currentTimeSeconds)
            
            let durationMinute = Math.floor(player.getDuration() / 60)
            let durationSeconds = Math.floor(player.getDuration() % 60)

            if (durationSeconds < 10) {durationSeconds = '0' + durationSeconds}

            $('#duration-minute').text(durationMinute)
            $('#duration-seconds').text(durationSeconds)
        }
        socket.on('update-player', updateTimerDisplay)

        var done = false;
        
        const playButton = document.getElementById('play-btn')
        const pauseButton = document.getElementById('pause-btn')
        
        playButton.addEventListener('click',()=>{
            socket.emit('play-clicked')
        })

        socket.on('play',()=> {
            player.playVideo()
        })

        pauseButton.addEventListener('click',()=> {
            socket.emit('pause-clicked')
        })

        socket.on('pause',()=> {
            player.pauseVideo()
        })

        let timeChecker

        progressBar.addEventListener('mousedown',()=> {
            player.pauseVideo()
            timeChecker = setInterval(()=> {
                let barValue = progressBar.value
                let timeStamp = barValue / 100 * player.getDuration()
                socket.emit('change-time-stamp',{
                    message: timeStamp
                })
            },10)
        })

        socket.on('go-to-time-stamp',(timeStamp)=>{
            player.seekTo(timeStamp)
        })

        socket.on('bar-mouse-up', ()=> {
            clearInterval(timeChecker)
            player.playVideo()
        })

        progressBar.addEventListener('click',()=> {
            let barValue = progressBar.value
            let timeStamp = barValue / 100 * player.getDuration()
            socket.emit('update')
        })

        progressBar.addEventListener('mouseup',()=> {
            socket.emit('mouse-up')
        })

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>