body {
    background: rgb(226,28,255);
    background: linear-gradient(45deg, rgba(226,28,255,1) 0%, rgba(0,206,255,1) 100%);
    height: 90vh;
}

#player {
    width: 50%;
    margin-left: 25%;
}


#videoInput {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    text-align:center;
}

#start-btn {
    margin-top: 20px;
    font-size: 20px;
}

#youtubeURL {
    height: 50px;
    font-size: 16px;
    text-align: center;
}

#player-controller {
    display:flex;
    margin-left: 25%;
    width:50%;
    text-align: center;
    place-items: center;
    opacity: 0;
}

#progress-bar {
    text-align: center;
    width: 800px;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#progress-bar:hover {
    opacity: 1; 
}

footer {
    background-color: orchid;
    border-top-style: solid;
    border-top-color: powderblue;
    border-top-width: 2px;
    position: absolute;
    width: 100%;
    font-weight: bold;
    opacity: 100%;
    bottom: 0%;
    left: 0px;
    right: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    text-align: center;
}